ACMETransactions/WebContent/wsdl/TransactionsWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:tns1="http://datatypes.logic" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://datatypes.logic"/>
   <element name="ReceiveTransactions">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="data" type="tns1:DTTransaction"/>
     </sequence>
    </complexType>
   </element>
   <element name="ReceiveTransactionsResponse">
    <complexType>
     <sequence>
      <element name="ReceiveTransactionsReturn" type="impl:DTResult"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DTResult">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="ok" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://datatypes.logic" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ws"/>
   <complexType name="DTTransaction">
    <sequence>
     <element name="codigoComercio" nillable="true" type="xsd:string"/>
     <element name="codigoMoneda" nillable="true" type="xsd:string"/>
     <element name="fecha" nillable="true" type="xsd:string"/>
     <element name="hora" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:long"/>
     <element name="monto" type="xsd:double"/>
     <element name="mumeroTarjeta" nillable="true" type="xsd:string"/>
     <element name="nombreComercio" nillable="true" type="xsd:string"/>
     <element name="tipo" nillable="true" type="xsd:string"/>
     <element name="tipoDispositivo" nillable="true" type="xsd:string"/>
     <element name="tipoTarjeta" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ReceiveTransactionsRequest">

      <wsdl:part element="impl:ReceiveTransactions" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ReceiveTransactionsResponse">

      <wsdl:part element="impl:ReceiveTransactionsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TransactionsWS">

      <wsdl:operation name="ReceiveTransactions">

         <wsdl:input message="impl:ReceiveTransactionsRequest" name="ReceiveTransactionsRequest">

       </wsdl:input>

         <wsdl:output message="impl:ReceiveTransactionsResponse" name="ReceiveTransactionsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TransactionsWSSoapBinding" type="impl:TransactionsWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ReceiveTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ReceiveTransactionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ReceiveTransactionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TransactionsWSService">

      <wsdl:port binding="impl:TransactionsWSSoapBinding" name="TransactionsWS">

         <wsdlsoap:address location="http://localhost:8080/ACMETransactions/services/TransactionsWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
